body {
    width: 99%;
    height: auto;
    background-image: url("../image/2222.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.login_box {
    /*box-shadow: 1px 1px 2px #888888;*/
    box-shadow: 2px 2px 10px #404040;
    width: 600px;
    height: 400px;
    margin: 10% auto;
}

.message {
    background-color: #ffffff40;
    color: #1B406A;
    width: 65%;
    height: 100%;
    float: left;
}

.message h1{
    margin-top: 30px;
    margin-left: 40px;
}

.message h2{
    margin-top: 20px;
    margin-left: 40px;
}

.login {
    background-color: #ffffff;
    width: 35%;
    height: 100%;
    float: left;
}

.login .form {
    color: #1C395E;
    text-align: center;
    width: auto;
    height: auto;
    margin: 50px auto;

}


.login .form .username input ,.login .form .password input {
    text-align: center;
    width: 165px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    color: #A1A1A1;
    height: 25px;
    border-bottom: 1px solid  #A1A1A1;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: larger;
}
.login .form .password input {
    margin-top: 10px;
}

/*.login .form .password input {*/
/*    width: 165px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 30px;*/
/*    padding-left: 5px;*/
/*    color: #A1A1A1;*/
/*    height: 25px;*/
/*    border-bottom: 1px solid  #A1A1A1;*/
/*    border-top: none;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    outline: none;*/
/*    font-size: larger;*/
/*}*/

.login .form .role {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    font-size: large;
}

.login .form .role ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.login .form .role li {
    margin-left: 10px;
    display: inline;
}
.login .form .submit{
    margin-top: 40px;

}
.login .form .submit input{
    width: 165px;
    height: 30px;
    text-align: center;
    display: inline-block;
    border: none;
    background-color: #178390;
    color: white;
    font-size: medium;
}

footer {
    clear: both;
    color: #859FB6;
    text-align: center;
}
#result{
    margin-top: 2px;
    color: red;
}