body {
    width:99%;
    margin: 0 0;
    padding: 0 0 ;
    height: auto;
    background-color: #364B71;
}

.form-container {
    height: 500px;
    width: 900px;
    margin: 90px auto;
    box-shadow: 1px 1px 5px #666666;
}
.form-image{
    width: 60%;
    height: 500px;
    background-image: url("../image/form-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.form-body{
    width: 40%;
    float: left;
    height: 100%;
    text-align: center;
    background-color: white;
}
.test_center{
    margin-top: 50px;;
    text-align: center;
}
.password-input{
    margin: 40px auto;
}

.password-input input{
    height: 35px;
    width: 70%;
    background-color: #E8E8E8;
    border: none;
    font-size: 17px;
    outline: none;
}
.submit input{
    background-color: #0D7291;
    color: white;
    border-radius: 5px;
}


footer{
    padding-top: 50px;
    text-align: center;
    clear: both;
}