<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset-password.css') }}">
    <script src="{{ url_for('static',filename='js/reset-password.js') }}"></script>
</head>

<body onload="input()">
<div class="form-container">
    <div class="form-image">
    </div>
    <div class="form-body">
        <form action="" method="post">
        {{-form.csrf_token() }}
            <h2 class="test_center"><strong>重置密码</strong></h2>
        <div class="password-input">{{-form.old_password }}</div>
        <div class="password-input">{{-form.new_password }}</div>
        <div class="password-input">{{-form.new_password_repeat }}</div>
        <div class="password-input submit">{{-form.submit }}</div>
    </form>
    </div>
</div>
<footer>@5-18-2020</footer>
</body>
</html>