<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<h1>Hello,Teacher {{ name }}!</h1>
<p><a href="{{ url_for('teachers.logout') }}">登出</a></p>
<p>您所教授的课程是{{ classname }}</p>
<hr>
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.job_Name.lable }}{{ form.job_Name }} <p>只需输入作业次数（实验1，作业1），一次只能创建一个作业</p>
    {{ form.submit }}
</form>
<hr>
<div>
    <ul >
    <h4>进行中的作业</h4>
    {%-if job_dict_now %}
        {%-for key,value in job_dict_now.items() %}
            <li>{{ key }} <a href="{{ url_for('teachers.del_job',jobID= value) }}">删除</a>
                <a href="{{ url_for('teachers.end_job',job_name = key) }}">结束</a> </li>
        {%-endfor %}
    {% else %}
        <li>无</li>
    {%-endif %}
    </ul>
</div>
<div>
    <ul >
    <h4>已结束的作业</h4>
    {%-if job_dict_end %}
        {%-for key,values in job_dict_end.items() %}
            <li><a href="{{ url_for('teachers.details',job_id = values) }}">{{ key }}</a></li>
        {%-endfor %}
    {% else %}
        <li>无</li>
    {%-endif %}
    </ul>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
</html>